.App {
  text-align: center;
}

.category-buttons {
  padding: 0.5rem 0.5rem;
  width: 15rem;
  background: teal;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  color: white;
  margin: 10px;
  font-size: large;
  border-radius: 10px;
  border: 1px solid teal;
}

.category-buttons:hover {
  color: teal;
  border: 1px solid teal;
  background-color: white;
}
