html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
h1 {
  padding: 25px;
  color: white;
  background-color: teal;
  margin-top: 0;
  margin-bottom: 2px;
  max-height: 2em;
  font-size: 3em;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: teal;
  height: 80px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5em;
}

/* footer {
  width: 100%;
  background-color: teal;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5em;
} */

/*  .container {
  min-height: 100%;
  position: relative;
} 
 .title-header {
  background:#ff0;
  padding:10px;
} 
.main {
  padding: 10px;
  padding-bottom: 80px; /* Height of the footer */ /*
}

.menufooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: teal;
  height: 80px; /* Height of the footer */
/*  
} 
*/
.category-button {
  padding: 0.5rem 0.5rem;
  width: 18rem;
  height: 5rem;
  background: white;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  color: teal;
  margin: 10px;
  font-size: 1.4em;
  border-radius: 10px;
  border: 1px solid teal;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.category-button:hover {
  color: white;
  background-color: teal;
  border: 1px solid teal;
}
.grid {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 15px;
  height: 100%;
}

.wrapper {
  display: block;
  margin-top: 2%;
  height: 100%;
}

h2 {
  color: teal;
  font-size: 1.7em;
  padding-left: 4%;
  padding-right: 4%;
}

.congrats {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 80px;
  margin-bottom: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.question {
  text-align: center;
}
.answers {
  display: grid;
  border: 1px teal solid;
  padding: 20px;
}

.category-answer {
  padding: 0.5rem 0.5rem;
  width: 15rem;
  height: 5rem;
  background: white;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  color: teal;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid teal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.category-answer:hover {
  color: white;
  background-color: teal;
  border: 1px solid teal;
}

.quizzing {
  text-align: center;
}

.answer-order {
  text-align: center;
  display: flex;
  justify-content: center;
}

.endscore {
  text-align: center;
  background-color: white;
  color: teal;
  padding: 0;
  margin-bottom: 60px;
}

.playagain {
  text-align: center;
  display: flex;
  justify-content: center;
}
